body {
  background: white;
  text-align:center;

}

section {
   margin: auto;
   width: 60%;
   border: 8px solid black;
   padding: 6px:
}

h1 {
  font-size: 70px;
 text-align: center;
 color: #83dde0;
 text-shadow: 2px 2px 4px #7a3a9a;
 font-family: "Comic Sans MS", "Comic Sans", cursive;
 
}

.wrap {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  border-spacing: 10px;
  position: relative;
  display: flex;
}
.col1,
.col2 {
  padding: 10px;
  text-align: justify;
  width: calc(50% + 220px);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #7a3a9a;
}
p {
  padding: 5px;
  margin: 0 0 1em;
}
.col1:before,
.col2:before {
  float: right;
  width: 1px;
  height: 90px;
  content: " ";
}
.col2:before {
  float: left;
}
.img {
  float: right;
  clear: right;
  margin: 20px 0 20px 20px;
  border-radius: 50%;
  border: 10px solid #fff;
  shape-outside: circle(50%);
}
.col2 img {
  float: left;
  margin: 20px 20px 20px 0;
  clear: left;
}
.col1 .inner {
  margin-right: 220px;
}
.col2 .inner {
  margin-left: 220px;
}
.col2 {
  margin-left: -440px;
}

@media screen and (max-width: 800px) {
  .wrap {
    display: block;
  }
  .col2:before {
    display: none;
  }
  .col1,
  .col2,
  .col1 .inner,
  .col2 .inner {
    width: auto;
    margin: 0;
  }
  .col2 .img {
    display: none;
  }
  .img {
    width: 50%;
    height: auto;
    min-width: 100px;
  }
}

.watermark {
    position: relative;
}

.watermark__inner {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

.watermark__body {
    color: rgba(0, 0, 0, 0.2);
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(-45deg);
    user-select: none;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
}

.container > div > img {
  width: 300px;
  height: 300px;
}
